@import "~@themes/vars.less";
@import "~@themes/mixin.less";

.home-container{
  
  .account-current-box{
    
  }
  .account-box{
    background-color: #F6F6F6;
    height: 540px;
    padding: 0 30px;
    
  }
}